@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");

@font-face {
    font-family: 'Comicy';
    font-style: normal;
    src: url(@assets/fonts/Comicy.woff2) format('woff2');
}

/* Fonts */
$family-primary: "Poppins", -apple-system, system-ui, BlinkMacSystemFont, Arial,
    sans-serif;
$family-secondary: "Comicy", -apple-system, system-ui, BlinkMacSystemFont, Arial,
    sans-serif;

/* Colors */
$primary: #6b1706;
$secondary: #a0affe;
$background: #fbf6e7
