@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400&display=swap");

/* Fonts */
$family-primary: "Bitter", -apple-system, system-ui, BlinkMacSystemFont, Arial,
    sans-serif;

/* Colors */
$primary: #272d38;
$secondary: #93b7be;
$warning: #eda95a;
